.containert {
  background-color: rgb(0, 2, 60)

}

.links {
    background-color: rgba(130, 140,190, 0.89);
    width: 45rem;
    height: 3rem;
    border-radius: 1.1rem;

    align-items: center;
    text-decoration: none;
  
    margin-left: 13rem;
    list-style-type: none   ;

}


.navlinks {
    color:white;
    display: flex;
    grid-template-columns: auto;
    font-size: 20px;
    font-weight: 400;
    gap: 8rem;
}

.logo {
  justify-self: start;
  margin-left: 7rem;
 
}

.button1 {
    border-radius: 1rem;
    border: none;
    background-color: rgba(130, 140,190, 0.89);
    margin-right: 30px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    max-height: 5rem;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.button1:hover {
    background-color: white;
    color:rgb(1,5,68)
    
}